*{
    font-family: sans-serif;
    font-size: large;
}
.container{
    height: 62vh;
    width: 47vh;
    margin: 120px auto 0 auto;
    text-align: center;
    background-color: bisque;
    border: 2px solid black;
    border-radius: 10px;
}
#output{
    margin-top: 20px;
    padding: 15px 60px;
    margin-bottom: 20px;
    border-radius: 9px;
}
.my_btn{
    padding: 20px;
    border-radius: 8px;
    margin: 10px;
    background-color: white;
    color: black;
}
.calculation, .my_btn{
    
    cursor: pointer;
}
.calculation{
    margin-top: 13px;
    max-width: 40vh;
    margin: auto;
    
}
.row{
    display: flex;
   justify-content: center;
   align-items: center;
}
