@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@300&display=swap');

 
 #word{
    display: block;
    font-size: 30px;
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: 700;
    color: #1e90ff ;
    margin-bottom: -10px;
 }

 #word::first-letter{
    font-size: 60px;
 }

 .container #meaning{
    display: block;
    font-family: cursive;
    margin-top: 7px;
 }

 #meaning1, #meaning2, #meaning3{
   display: block;
   margin-top: 10px;
   font-family: cursive;
 }

 ol li{
   font-family: cursive;
 }
 #example{
   color: #1e90ff;
   font-weight: 700;
   margin-top: 30px;
 }

 